body {
    background: linear-gradient(135deg, #1e1e2f, #3a3a6e);
    color: white;
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    opacity: 1; /* Rimuovi l'animazione di fade */
    transform: translateY(0);
}

.navbar-brand img {
    height: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.navbar-brand:hover img {
    transform: scale(1.1);
}

.search-box-container {
    width: 100%; /* Imposta la larghezza subito senza animazione */
    max-height: 50px;
    opacity: 1; /* Rimuovi l'opacità */
    white-space: nowrap;
}

.search-box {
    width: 100%;
    border-radius: 20px;
}

.btn-login {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 14px;
    width: 100px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.btn-login img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.btn-login img:hover {
    transform: scale(1.1);
}
