<!DOCTYPE html> 
<html lang="en">
{% extends "nav.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/home.css" rel="stylesheet">
    <title>GCTB - Profilo Utente</title>
    <style>
    
    </style>
</head>
<body>
    <div class="container">
   
        <h1>Benvenuto su <span>GCTB</span>!</h1>
        
  
        
     
        <h2>Le tue Playlist:</h2>
    </div>  
    </div>
</body>
{% endblock %}
</html>
