<!DOCTYPE html> 
<html lang="en">
{% extends "nav.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/home.css" rel="stylesheet">
    <title>GCTB - Profilo Utente</title>
    <style>
    
    </style>
</head>
<body>
    <div class="container">
   
        <h1>Benvenuto su <span>GCTB</span>!</h1>
        
        {% if user_info['images'] %}
        <img class="profile-img" src="{{ user_info['images'][0]['url'] }}" alt="Immagine profilo">
        {% endif %}
        
        <div class="profile-details">
            <h3>{{ user_info['display_name'] }}</h3>
            <p>{{ user_info.get('bio', 'Descrizione non disponibile.') }}</p>
        </div>

        <h2>Le tue Playlist:</h2>
        {% if playlists %}
        <table>
            <thead>
                <tr>
                    <th>Nome Playlist</th>
                    <th>Numero di Brani</th>
                    <th>Copertina</th>
                    <th>Brani</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist['name'] }}</td>
                    <td>{{ playlist['tracks']['total'] }}</td>
                    <td>
                        {% if playlist['images'] %}
                        <img class="playlist-img" src="{{ playlist['images'][0]['url'] }}" alt="Copertina playlist">
                        {% else %}
                        <span class="no-image">Nessuna immagine</span>
                        {% endif %}
                    </td>
                    <td><a href="/playlist/{{ playlist['id'] }}">Vedi Brani</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no-tracks">Non hai playlist disponibili.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
</html>
