
{% extends "nav.html" %}

{% block content %}
<link href="../static/css/index.css" rel="stylesheet">
  
<body>
  <div class="main-content">  
    </div><h1>Welcome to the Main Page!</h1>
    <p>Here's the main content of your page.</p>    
    <div class="spotify-playlists">
      <h2>Playlist da scoprire</h2>

      <div class="list">
        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>
      </div>
    </div>

    <div class="spotify-playlists">
      <h2>I più grandi successi di oggi</h2>
      <div class="list">
        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>
        
        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>
      </div>
    </div>

    <div class="spotify-playlists">
      <h2>Mood</h2>
      <div class="list">
        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>

        <div class="item">
          <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-dimensions/2500?v=v2&px=-1" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>.</h4>
          <p>.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>
</body>
{% endblock %}
